@page
@model CreateModel
@{
  ViewData["Title"] = "Create Role";
}
<h2>@ViewData["Title"]</h2>

<partial model="@Model.StatusMessage" name="_StatusMessage.cshtml"/>

<form asp-page="/" method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input asp-for="Input.Name"/>
  <button type="submit">Create</button>
  <span asp-validation-for="Input.Name"></span>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}